
@import "../../node_modules/rmr-util/src/styles/_rmr-vars.scss";


.rmr-accordion-toggle {
  cursor: pointer;
  transition: transform $rmr-transition-duration-short;
}

.rmr-accordion-toggle[aria-expanded=true] {
  transform: rotate(-180deg);
}

.rmr-accordion-title {
  cursor: pointer;
}

.rmr-accordion.rmr-disabled .rmr-accordion-title {
  cursor: not-allowed;
}

.rmr-accordion-contents[aria-hidden='true'] {
  height: 0;
}

.rmr-accordion-contents {
  overflow: hidden;
  transition: height $rmr-transition-duration-short ease-out;

  &[aria-hidden=true] > * {
    opacity: 0;
  }
}

